#navbar-item-selected {
    color: #42a5f5;
    background-color: white;
}

#navbar-item-selected:hover {
    color: #42a5f5;
    background-color: rgba(0, 0, 0, 0.04);
}

#navbar-icon-selected {
    color: #42a5f5;
}