.opportunity {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100px;
  max-height: 100px;
  max-width: 600px;
}

.opportunity__host {
  display: inline-flex;
  width: 570px;
  align-items: center;
  max-height: 30px;
  max-width: 470px;
  margin-top: 5px;
}

.opportunity__host-name {
  display: flex;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 40px;
  color: gray;
  max-height: 40px;
  bottom: 19px;
  font-size: 10pt;
}

.opportunity__location {
  display: inline-flex;
  position: relative;
  margin-top: 15px;
  max-height: 40px;
  max-width: 500px;
  width: 530px;
  font-size: 10pt;
}

.opportunity__location-or-link {
  position: relative;
  bottom: 35px;
  max-height: 40px;
  width: 250px;
  font-size: 10pt;
  color: gray;
  margin-left: 5px;
  margin-top: 40px;
}

.opportunity__date {
  display: flex;
  position: relative;
  margin-top: 0px;
}

.opportunity__time {
  display: flex;
  position: relative;
  margin-top: 15px;
  width: 500px;
}

.opportunity__start-date {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  bottom: 17px;
}

.opportunity__start-time {
  display: flex;
  position: relative;
  margin-left: 5px;
  bottom: 17px;
}

.opportunity__end-date {
  display: flex;
  position: relative;
  margin-left: 97px;
  margin-top: 35px;
}

.opportunity__ending-date {
  display: flex;
  position: relative;
  margin-left: 5px;
}

.opportunity__end {
  display: flex;
  position: relative;
  bottom: 35px;
  margin-top: 35px;
}

.opportunity__end-day {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  bottom: 17px;
}

.opportunity__time-header {
  display: flex;
  position: relative;
  margin-right: 10px;
  font-size: 14pt;
  bottom: 45px;
}

.opportunity__end-time {
  display: flex;
  position: relative;
  margin-left: 5px;
  bottom: 17px;
}