.ListItem {
  cursor: pointer;
}

.opportunity__tab-title {
  display: flex;
  position: relative;
  justify-content: center;
}

.opportunity__tab-title2 {
  display: flex;
  position: relative;
  top: 19px;
  justify-content: center;
}

.opportunity__tab-divider {
  display: flex;
  position: relative;
  top: 20px;
  margin-bottom: 25px;
  justify-content: center;
}

.no_results_message {
  display: flex;
  position: relative;
  justify-content: center;
}

.joined-opportunities {
  margin-top: 75px;
}

.opportunity__host {
  display: flex;
  width: 300px;
  max-height: 30px;
  max-width: 270px;
  margin-top: 15px;
}

.opportunity__hostname {
  display: flex;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  max-height: 40px;
  bottom: 19px;
  font-size: 12pt;
}

.opportunity__location {
  display: flex;
  position: relative;
  top: 20px;
  max-height: 40px;
  max-width: 300px;
  width: 330px;
}

.opportunity__remote {
  position: relative;
  bottom: 17px;
  color: goldenrod;
  width: 55px;
  max-height: 40px;
}

.opportunity__locationname {
  position: relative;
  bottom: 35px;
  max-height: 40px;
  width: 250px;
  font-size: 12pt;
}

.opportunity {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  max-height: 100px;
  max-width: 600px;
}

.opportunity__date {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-top: 35px;
}

.opportunity__time {
  display: flex;
  position: relative;
  margin-top: 35px;
}

.opportunity__startdate {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  bottom: 17px;
}

.opportunity__starttime {
  display: flex;
  position: relative;
  margin-left: 5px;
  bottom: 17px;
}

.opportunity__enddate {
  display: flex;
  position: relative;
  margin-left: 97px;
  margin-top: 35px;
}

.opportunity__endingdate {
  display: flex;
  position: relative;
  margin-left: 5px;
}

.opportunity__end {
  display: flex;
  position: relative;
  bottom: 35px;
  margin-top: 35px;
}

.opportunity__endday {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  bottom: 17px;
}

.opportunity__timeheader {
  display: flex;
  position: relative;
  margin-right: 10px;
  font-size: 14pt;
  bottom: 45px;
}

.opportunity__endtime {
  display: flex;
  position: relative;
  margin-left: 5px;
  bottom: 17px;
}

.eventname {
  display: flex;
  position: relative; 
  right: 215px;
  top: 80px;
  height: 30px; 
  justify-content: center;
  width: 770px;
}

.eventroles {
  position: relative;
  right: 175px;
  top: 160px;
}

.details {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 700px;
  width: 40%;
  top: 0%;
  bottom: 465px;
  left: 71%;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
}

.creationbuttons {
  position: relative;
  top: 550px;
}