.opportunities__header {
  font-family: Roboto;
  margin: 2em;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #D1D1D1;
}

.opportunities__no-results-message {
  display: flex;
  position: relative;
  justify-content: center;
}

.opportunities {
  margin-top: 50px;
}