.opportunity-creation__name {
  display: flex;
  position: relative; 
  right: 215px;
  top: 50px;
  height: 60px; 
  width: 770px;
}

.opportunity-creation__roles {
  position: relative;
  right: 215px;
  bottom: 25px;
  margin-top: 5px;
}

.opportunity-creation__details-section {
  display: flex;
  position: absolute;
  height: 870px;
  width: 21.5vw;
  top: 0%;
  bottom: 465px;
  left: 71%;
  flex-direction: column;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgb(255, 255, 255);
}

.opportunity-creation__details-header {
  display: flex;
  color: gray;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  height: 60px;
}

.opportunity-creation__roles-header {
  position: relative;
  display: inline-flex;
  margin-bottom: 5px;
  margin-top: 0px;
}

.opportunity-creation__additional-role-input {
  position:relative;
  display: inline-flex;
}

.opportunity-creation__creation-buttons {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.opportunity-creation__sponsor {
  display: flex;
  position: relative; 
  right: 295px;
  bottom: 25px;
  height: 60px; 
  justify-content: center;
  width: 770px;
}

.datetime-row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.location-details {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.subject {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.opportunity-creation__other {
  display: flex;
  margin-left: auto;
  margin-right: auto;;
}